#product {
    width: 101%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    min-width: 300px;
    min-height: 350px;
    overflow: hidden;
    box-shadow: none;
    transition: 0.5s linear;
    transform: scale(1);
}
.card:hover{
    /* border: 1px solid #eee; */
    box-shadow: 2px 8px 20px #ddd;
    
    
    /* margin: 10px; */
}

.card img:hover{
    /* border: 1px solid #eee; */
    transform: scale(0.90);
    
    
    /* margin: 10px; */
}
.card img{
    max-width: 300px;
    max-height: 245px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: 0.2s linear;

}
.card h3 {
    text-transform: uppercase;
    margin: 10px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
     font-size: 18px;
    line-height: 160%;
    color: #1D1F22;;
}
.card h3 a {
    text-decoration: none;
    color: #333;
}
.card h3 a:hover{
    color: crimson
}
.card span{
    color: #1D1F22;
}
.card p{
    margin: 10px 0;
    color: #1D1F22;
}
 .carty{
    position: absolute;
    top: 222px;
    left: 219px;

}
/* .card svg:hover{
    opacity: 100%;
} */
/* .card button {
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    width: 100%;
    height: 30px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
} */